.app {
  width: 100%;
  min-height: 100vh;
}

/* General styling */
section {
  padding: 60px 20px;
}

@media (max-width: 768px) {
  section {
    padding: 40px 20px;
  }
}

@media (max-width: 480px) {
  section {
    padding: 30px 15px;
  }
}
